.sticky-header {
    background: #808080;
    color: white;
    padding: 12px;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: background 0.5s ease-in-out;
}

.sticky-header-container {
    max-width: 960px;
    margin: 0 auto;
}

.isSearching {
    background: #247324;
}

.isSearching.no-results-true {
    background: #fd0707;
}

.btn-link {
    color: blue;
    cursor: pointer;
}
