.App {
    max-width: 960px;
    margin: 0 auto;
    font-size: 16px;
}

.card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.card {
    width: calc(33% - 10px);
    max-width: 250px;
    margin: 20px 0;
    padding: 10px 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.card-link {
    color: inherit;
    text-decoration: none;
}
.card-image {
    width: 100%;
}
.card-title {
    margin-top: 10px;
    margin-bottom: 0;
}
.card-type {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

/* Tablets */
@media (max-width: 1000px) {
    .App {
        max-width: 600px;
    }
    .card {
        width: calc(50% - 22px);
    }
}

/* Mobiles */
@media (max-width: 640px) {
    .App {
        max-width: 100%;
        padding: 0 15px;
    }
    .card {
        width: 100%;
    }
}
