@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
        local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
        local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

body {
    font-family: 'system';
    padding: 0;
    margin: 0;
}
.card-container {
    max-width: 960px;
    margin: 0 auto;
    font-size: 16px;
    padding: 100px 50px 0 50px;
}

.card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.card {
    width: calc(33% - 10px);
    margin: 20px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.card-image-container {
    padding: 10px;
}

.card-info-container {
    padding: 10px;
}

.card-link {
    color: inherit;
    text-decoration: none;
}
.card-image {
    width: 100%;
}
.card-title {
    margin: 10px 0;
}
.card-type {
    margin: 5px 0;
}
.card-set-name {
    margin: 5px 0;
    font-size: 14px;
}

/* Tablets */
@media (max-width: 1000px) {
    .card-container {
        max-width: 600px;
    }
    .card {
        width: calc(50% - 22px);
    }
}

/* Mobiles */
@media (max-width: 640px) {
    .card-container {
        max-width: 100%;
        padding: 100px 15px 0 15px;
    }
    .card {
        width: 100%;
    }
}

@keyframes fadeInImg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.img-loading {
    opacity: 0;
}

.img-loaded {
    animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1);
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    width: 100%;
}

.btn-link {
    color: blue;
    cursor: pointer;
}

.search-input {
    width: 100%;
}

.sticky-header {
    background: #808080;
    color: white;
    padding: 12px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.sticky-header-container {
    max-width: 960px;
    margin: 0 auto;
}

.form-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form-field::placeholder {
    color: transparent;
}
.form-field:placeholder-shown ~ .form-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: white;
}

.form-field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: white;
    border-image-slice: 1;
}
.form-field:focus ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

/* reset input */
.form-field:required,
.form-field:invalid {
    box-shadow: none;
}
